/* Offers.css */
.offers {
    width: 60%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-top: 20px; /* Reduced space from the top */
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  }
  
  .offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0; /* Ensure no extra margin at the top */
  }
  
  .offers-left h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0; /* Remove margin-top if needed */
  }
  
  .offers-left p {
    color: #171717;
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px; /* Adjust if needed */
  }
  
  .offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 35px;
    cursor: pointer;
  }
  
  .offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px; /* Padding for spacing around the image */
    margin-top: 0; /* Ensure no extra margin at the top */
  }
  
  .offers-right img {
    max-width: 100%; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    max-height: 120%; /* Limit the maximum height of the image */
    object-fit: contain; /* Ensure the image fits within its container */
  }
  